body{
    
}
header {
    display: flex;
    border: solid #ff4500 3px;
    height: 120px;
    align-items: flex-start;
    width:901px;

}

.delicious {
    display: flex;
    align-self: flex-start;
    border: solid violet 3px;
    height: 20px;
    width: 50px;
}

.small-icons {
    display: flex;
    align-self: flex-end;
    flex-direction: reverse;
    border: solid violet 3px;
    height: auto;
    width: 300px; 
}


/* .hr-img {
    background-image: image('../assets/hr-img.png');
    border: 2px black;
    width: 100%;

} */ 
/* will come back to */

main {
    display: block;
    border: solid blue 3px;
    height: 100%;
    width: 901px;
    display: flex;
    justify-content: center;
    align-content: center;
   
}

.div-1 {
    border: dotted orange 2px;
    height: 100px;
    width: 100px;
}

.div-2 {
    border: dotted rebeccapurple 2px;
    height: 100px;
    width: 100px;
}

.chocolate-pizza {
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* padding: 50px; */
    width: fit-content;
    /* display: flexbox; */
}

p {
    justify-self: center;
    border: dotted white 10px;
    justify-self: center;
    align-self: center;
}

.div-3 {
    display: flex;
    flex-wrap: wrap;
    border: dotted green px;
    align-content: center;
    background-image: url(../assets/list-bg.png);
    height: 300px;
    width: 900px;
    justify-content: space-around;
}


/* there are 2 ul's what to do?  */
ul {
    list-style: outside circle;
    border: red solid 2px;
    /* display:block; */
    flex-wrap: wrap;
    width: 413px;
    
}

li{
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

.left-list{
    padding-left: 65px;
    
}
.right-list{
    
}

footer {
    border: solid aqua 3px;
    height: 300px;
    width: 901px;
}
